:root{
    --primary-color:#E4559D;
    --secondary-color:white;

}
body{
    background: black;
    font-family: 'Montserrat', sans-serif;;
}
.logo{
    max-width: 70px;
    max-height: 70px;
    background: transparent;
}
nav{    padding: 20px 0;
    
        background-color: black;
      
}
nav li{
    display: inline;
    list-style: none;
    line-height: 52px;
    margin-left: 10px;
   
}
nav a{ 
    color: var(--secondary-color);
    text-decoration: none;

}

nav ul{
    padding: 0px;
    margin: 0px;
}
nav li.active a,nav a:hover {
    color: var(--primary-color);
    transition: all 100ms ease-in-out;

}

.hero h1{
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}
.hero p{
    color: white;
    text-align: center;
   margin: 30px 80px;
}
.container{
    padding-top: 60px;

}
.nav-container{
    padding-top: 25px;
}


.button {
    color: var(--primary-color)
}


.content-container h1{
    font-size: 54px;
    line-height: 60px;
    color: var(--secondary-color);
}
.content-container h2{
    font-size: 24px;
    font-weight: 700px;
   color: var(--secondary-color) ;

}
.content-container h3{
    color: var(--primary-color);
}
.content-container p{
    color:var(--secondary-color);
    font-size: 13.5px;

}
footer{
    margin:60px 0;
}
footer .email-link{
    text-decoration: none;
    color:var(--primary-color);
    font-size: 22px;
    text-align:center;

}
footer .email-link:hover{
    color: var(--secondary-color);
}
footer .social-links a{
    margin: 0 20px;
    color: var(--primary-color);
   
    padding: 10px;
    font-size: 28px;
    transition: all 100ms ease-in-out;
}
footer .social-links a:hover{
    color: var(--secondary-color);
}
footer .code-source, a{
    text-decoration: none;
    color: grey;
}
footer .code-source a:hover{
    color: var(--primary-color);
}
.socials{
    
    color: var(--secondary-color);

}

.btn-outline-secondary{
    color: var(--primary-color);
    transition: all 100ms ease-in-out;
}
.btn-outline-secondary:hover{
    background: var(--primary-color);
}
@media (max-width: 900px){
    .content-container{ text-align: center;}
    .content-container p{
        font-size: 10px;
    }
   
}