body{

    background: black;
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;;
}

h1{
    color: white;
    text-align: center;
    font-family: montserrat;
    padding-top: 40px;
}
p{
    color: white;
    text-align: center;
   margin: 30px 80px;
}

.container{ 
    padding-top:  40px;
    max-width: 1440px;
    max-height: 900px;
    padding-right: 70px;
}
.navbar-brand {
    color: #E4559D;
}
.nav-link{
    color: #E4559D;
}
#home-link{
    color: #E4559D;
}

.photos{
    max-width: 486px;
    max-height: 380px;
    padding-bottom: 25px;
   
}
.photo-group{
    margin-top: 60px;
    margin-left: 20px;

}
.btn-outline-light{
    
    color:#E4559D;
}
img{
    max-width: 100%;
    height:auto;
}